<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <title>BMI Calculator</title>
    </head>
    <body>
        <h1>BMI Calculator</h1>
        <div class="enter_data">
            <form class="pure-form pure-form-stacked" action="" method="POST">
                <p>Enter your weight in Kilograms (kg)</p>
                <input type="text" name="weight" placeholder="Weight"><br>
                <p>Enter your height in centimeters (cm)</p>
                <input type="text" name="height" placeholder="Height"><br>
                <button type="submit" name="submit" class="pure-button pure-button-primary">Calculate</button>
            </form>
        </div>


        <div class="result_cell">


                {% if bmi %}

                <p id="response">Your BMI is: {{bmi}}</p>

                {% endif %}


        </div>

    </body>
</html>
